.police-head{text-align: center;}
.police-head-large{ font-size: 26pt; margin: 5pt; font-weight:bold;padding: 8pt}
.police-text{ font-size: 20pt; line-height: 30pt}
.police-sign-name{text-align: right; display: inline-block}
.police-sign-block{ text-align: right; font-size: 20pt; padding: 8pt}
.police-print-area{font-family: 仿宋; width: 210mm; height:297mm}
.police-table{width: 100%; text-align: center;border-collapse: collapse;border-color: black; font-size: 20pt}
td,tr{border:1px solid black; line-height: 38pt}