<form class="layui-form" lay-filter="formDemo" action="">
    <div class="site-title">
        <fieldset class="layui-elem-field">
            <legend>删除占位符</legend>
            <div class="layui-field-box"> 拖动占位符到文档的指定位置，意味着填写模板时的信息将在生成文档时替换掉该占位符 </div>
        </fieldset>
    </div>
    <div class="layui-form-item"> <label class="layui-form-label">驾驶人</label>
        <div class="layui-input-block"> <input type="checkbox" name="" title="写作" lay-skin="primary" checked></div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block"> <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button> </div>
    </div>
</form>