{extend name="maker@common/base" /} 

{block name="main"}




<div style="margin-left: 100px">
    <div class="layui-row" id="toolbar"></div>
	<table id="demo" lay-filter="test"></table>
</div>


<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
  </div>
</script>

<script>
	setPageTitle("模板详情");
	layui.use('table', function(){
		var table = layui.table;
		var checkedId;

  //第一个实例
  table.render({
  	elem: '#demo'
  	,height: 600
    ,url: '/documentmaker/public/index.php/maker/api/templetDetail' //数据接口
    ,page: true //开启分页
    ,limit: 20
    ,initSort: {
       field: 'update_time' //排序字段，对应 cols 设定的各字段名
            ,type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
         }
    ,toolbar:  '#toolbarDemo' 
    ,defaultToolbar: ['filter', 'print', 'exports']
    ,cols: [[ //表头
     {title:'', type: 'radio', width:30, fixed: 'left'}
    ,{align: 'center', field: 'templet_name', title: '模板名称', width:280, sort: true}
    ,{field: 'templet_catalog', title: '模板类别', width:180}
    ,{field: 'create_time', title: '创建时间', width:180, sort: true}
    ,{field: 'update_time', title: '更新时间', width:180 ,sort: true}
    ]]
});
  
table.on('radio(test)', function(obj){
	checkedId = obj.data['id'];
	console.log(checkedId); //当前是否选中状态
});


table.on('toolbar(test)', function(obj){
	var checkStatus = table.checkStatus(obj.config.id);
	switch(obj.event){
		case 'add':
		window.location.href = "/documentmaker/public/index.php/maker/templet/editor";
		break;

		case 'delete':
		if (checkedId == null) {layer.msg('请先选择一个案件');}
		else {
			var chooseId = {'id': checkedId};

			$.ajax({
				type: "POST",
				url: "/documentmaker/public/index.php/maker/api/removeTemplet" ,
				data: chooseId,
				dataType: "json",
				success: function(respMsg) {
					layer.msg(respMsg);
					window.location.href = "/documentmaker/public/index.php/maker/templet/";
				},
				error: function() {
					layer.msg("删除失败")
				}
			});
		}
		break;

		case 'update':
		if (checkedId == null) {layer.msg('请先选择一个案件');}
		else {
			window.location.href = "/documentmaker/public/index.php/maker/templet/editor/id/" + checkedId;
		}
		break;
	};
});

  //监听行双击事件
table.on('rowDouble(test)', function(obj){
  var record = obj.data;
  window.location.href = "/documentmaker/public/index.php/maker/templet/editor/id/" + record['id'];
});

});
</script>

{/block}