<div class="site-tree">
    <form class="layui-form" lay-filter="formDemo" style="height: 80px; margin: 10px 13px 0 0;">
        <select name='templet_catalog' lay-search="">
            <option value="">选择模板类别</option>
            {foreach $catalogs as $key=>$vo }
            <option value="{$vo.templet_catalog}">{$vo.templet_catalog}</option>
            {/foreach}
        </select>
        <input type="text" name="templet_name" required lay-verify="required" placeholder="模板名称:查获经过-无证" autocomplete="off" class="layui-input">
    </form>
    <div class="layui-collapse">
        {foreach $meta_labels as $key=>$vo}
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">{$key}</h2>
            <div class="layui-colla-content">
                <ul class="layui-tree">
                    {foreach $vo as $k=>$v}
                    <li><a draggable="true">
                                   <cite>{$v.templet_meta_name}</cite>
                       <em>{$v.templet_meta_remark}</em>
                   </a>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
        {/foreach}
    </div>
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-primary">
            <i class="layui-icon">&#xe654;   添加</i>
        </button>
        <button class="layui-btn layui-btn-primary">
            <i class="layui-icon">&#xe640;   删除</i>
        </button>
    </div>
</div>
<script>
//注意：折叠面板 依赖 element 模块，否则无法进行功能性操作
layui.use('element', function() {
    var element = layui.element;

    //…
});
</script>