{extend name="maker@common/base" /} 

{block name="newmode"}

<div class="site-banner">
  <div class="site-banner-bg" style="background-image: url(//res.layui.com/static/images/layui/banner/autumn.jpg?v=0); background-size: cover;">
  </div>
  <div class="site-banner-main">
    <div class="site-zfj site-zfj-anim">
      <i class="layui-icon" style="color: #fff; color: rgba(255,255,255,.7);"></i>
    </div>
    <div class="layui-anim site-desc site-desc-anim">
      <p class="web-font-desc">经典模块化前端框架</p>
      <cite>由职业前端倾情打造，面向所有层次的前后端开发者，零门槛开箱即用的前端UI解决方案</cite>
    </div>
    <div class="site-download">
      <a href="//res.layui.com/static/download/layui/layui-v2.4.3.zip" class="layui-inline site-down" target="_blank">
        <cite class="layui-icon"></cite>
        立即下载
      </a>
    </div>
    <div class="site-version">
      <span>当前版本：<cite class="site-showv">2.4.3</cite></span>
      <span><a href="/doc/base/changelog.html" rel="nofollow" target="_blank">更新日志</a></span>
      <span>下载量：<em class="site-showdowns">674760</em></span>
    </div>
    <div class="site-banner-other">
      <a href="https://github.com/sentsin/layui/" target="_blank" class="site-star">
        <i class="layui-icon"></i>
        Star <cite id="getStars">14772</cite> 
      </a>
      <a href="https://github.com/sentsin/layui/network/members" target="_blank" rel="nofollow" class="site-fork">
        <i class="layui-icon"></i>
        Fork 
      </a>
      <a href="https://gitee.com/sentsin/layui" target="_blank" rel="nofollow" class="site-fork">
        码云
      </a>
    </div>
  </div>
</div>


<div class="layui-main">
  <ul class="site-idea">
    <li>
      <fieldset class="layui-elem-field layui-field-title">
        <legend>返璞归真</legend>
        <p>身处在前端社区的繁荣之下，我们都在有意或无意地追逐。而 layui 偏偏回望当初，奔赴在返璞归真的漫漫征途，自信并勇敢着，追寻于原生态的书写指令，试图以最简单的方式诠释高效。</p>
      </fieldset>
    </li>
    <li>
      <fieldset class="layui-elem-field layui-field-title">
        <legend>双面体验</legend>
        <p>拥有双面的不仅是人生，还有 layui。一面极简，一面丰盈。极简是视觉所见的外在，是开发所念的简易。丰盈是倾情雕琢的内在，是信手拈来的承诺。一切本应如此，简而全，双重体验。</p>
      </fieldset>
    </li>
    <li>
      <fieldset class="layui-elem-field layui-field-title">
        <legend>星辰大海</legend>
        <p>如果眼下还是一团零星之火，那运筹帷幄之后，迎面东风，就是一场烈焰燎原吧，那必定会是一番尽情的燃烧。待，秋风萧瑟时，散作满天星辰，你看那四季轮回<!--海天相接-->，正是 layui 不灭的执念。</p>
      </fieldset>
    </li>
  </ul>
</div>

<div class="layui-footer footer footer-index">
  <div class="layui-main">
    <p>© 2018 <a href="/">layui.com</a> MIT license</p>
    <p>
      <a href="http://fly.layui.com/case/2018/" target="_blank">案例</a>
      <a href="http://fly.layui.com/jie/3147/" target="_blank">支持</a>
      <a href="javascript:;" site-event="contactInfo">联系</a>
      <a href="https://github.com/sentsin/layui/" target="_blank" rel="nofollow">GitHub</a>
      <a href="https://gitee.com/sentsin/layui" target="_blank" rel="nofollow">码云</a>
      <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
      <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">赣ICP备13006272号-2</a>
    </p>
    <p class="site-union">
      <a href="https://www.upyun.com?from=layui" target="_blank" rel="nofollow" upyun=""><img src="//res.layui.com/static/images/other/upyun.png?t=1"></a>
      <span>提供 CDN 赞助</span>
    </p>
  </div>
</div>

{/block}