{extend name="maker@common/base" /}
{block name="main"}
<div class="site-content">
    <form class="layui-form" lay-filter="formDemo" action="">
        {foreach $metas as $key=>$vo }
        <div class="site-title">
            <fieldset>
                <legend><a name="input">{$key}</a></legend>
            </fieldset>
        </div>
        {foreach $vo as $k=>$v }
        <div class="layui-fluid">
            <div class="layui-row">
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">{$v.name}</label>
                        <div class="layui-input-block">
                            <input type="text" name={$v.name} lay-verify="required|index" placeholder={$v.remark} autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/foreach}
        {/foreach}
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">清空所有内容</button>
            </div>
        </div>
    </form>
</div>
<script>
layui.use(['form', 'jquery'], function() {
    var form = layui.form;

    //监听提交
    form.on('submit(formDemo)', function(data) {

        $.ajax({
            type: "POST",
            url: "",
            data: data.field,
            dataType: "json",
            success: function(respMsg) {
                layer.msg(respMsg);
                window.location.href = "";
            },
            error: function() {
                layer.msg("提交失败");
            }
        });
        return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。

    });

});
</script>
{/block}