{extend name="maker@common/base" /} 

{block name="printmode"}
<div class="layui-main site-inline site-fix">
	{include file="maker@common/sidebar"}
	
	<div class="site-content">

		<div class="police-print-area">
			<div class="police-page-frame">

				<div class="police-page-frame-inside">
					<!-- 标题 -->
					<div class="police-head"><h2 class="police-head-large">湖南省高速公路交通警察局{$data.zhidui}支队{$data.dadui}大队</h2>
						<h2 class="police-head-large">公安交通管理行政处罚决定书</h2>
						<h3 class="police-text-small">湘公交高衡5公交决字[2017]第{$data.index}号</h3>
					</div>
					<!-- 被处罚人信息 -->
					<div class="police-text-small">



						<div ><span style="width: 5em"> 被处罚人：</span>
							<span class="police-underline" style="width: 5em">{$data.name}</span><span style="width: 5em">
							联系方式：</span><span class="police-underline" style="width: 20em; overflow: hidden;">{$data.address}</span>
						</div>

						<div ><span style="width: 3em">职业：</span>
							<span class="police-underline" style="width: 7em">其他</span><span style="width: 5em">
							政治面貌：</span><span class="police-underline" style="width: 20em; overflow: hidden;">{$data.political}</span>
						</div>

						<div ><span style="width: 10em">机动车驾驶证号码：</span>
							<span class="police-underline" style="width: 27em">{$data.identity}</span>
						</div>

						<div ><span style="width: 12em">机动车驾驶证档案编号：</span>
							<span class="police-underline" style="width: 25em">{$data.file_num}</span>
						</div>

						<div ><span style="width: 5em"> 准驾车型：</span>
							<span class="police-underline" style="width: 5em">{$data.driver_type}</span><span style="width: 5em">
							发证机关：</span><span class="police-underline" style="width: 20em; overflow: hidden;">{$data.issuer}</span>
						</div>

						<div ><span style="width: 5em"> 车辆牌号：</span>
							<span class="police-underline" style="width: 8em">{$data.car_num}</span><span style="width: 5em">
							车辆类型：</span><span class="police-underline" style="width: 17em; overflow: hidden;">{$data.car_type}</span>
						</div>
				<!-- 决定书正文 -->
						<div>
							<p class="police-section">
								现查明被处罚人于<u>{$data.time}</u>，在<u>{$data.place}</u>实施了<u>{$data['违法内容_1']}</u>违法行为（代码<u>{$data['违法代码_1']}，17092</u>）。
							</p>

							<p class="police-section">
								以上事实有交通违法嫌疑人{$data.name}的{$data.evidence}等证据证明。
							</p>

							<p class="police-section">
								根据《中华人民共和国道路交通安全法》第90条、《湖南省实施〈中华人民共和国道路交通安全法〉办法》第41条第1项的规定,《中华人民共和国道路交通安全法》第99条第1款第1项的规定，决定给予：
							</p>

							<p class="police-section">
								罚款 {$data['罚款金额_1']} 元  持本决定书在15日内到中国建设银行缴纳。到期不缴纳罚款的，每日按罚款数额3%加处罚款。
							</p>

							<p class="police-section">
								□×暂扣机动车驾驶证____月   机动车驾驶证是否转递：□是 □否
							</p>

							<p class="police-section">
								____年____月____日后到______________________领取。
							</p>
							<p class="police-section">
								□×吊销机动车驾驶证 
							</p>
							<p class="police-section">
								如不服本决定，可以在收到本决定书之日起60日内向湖南省高速公路交通警察局{$data.zhidui}支队申请行政复议；或者在6个月内向衡阳市蒸湘区人民法院提起行政诉讼。
							</p>
							<p class="police-section">
								□该处罚决定书将在122交通网(www.122.cn)公开公示，同时向信用中国网(www.creditchina.gov.cn)推送。
							</p>
						</div>

<!-- 盖公章 -->
							<div class="police-sign-block" style="font-size: 18pt">
								<p class="police-section">
									公安机关交通管理部门（盖章）
								</p>
								<p class="police-section">
									{$data.time}&nbsp&nbsp&nbsp&nbsp
								</p>
							</div>
						</div>

						<!-- 页脚的说明文字 -->
						<div>
							<p class="police-section" >
								根据《机动车驾驶证申领和使用规定》记{$data['违法记分_1']}分
							</p>
							<p class="police-section" style="font-size: 10pt">
								第三份：附卷
							</p>
							<p class="police-section" style="font-size: 10pt">
								注：未作罚款处罚的，银行联不交被处罚人
							</p>
						</div>

					</div>

				</div>





			</div>
		</div>
	</div>

</div>

{/block}
