
        <div class="site-tree">
            <div class="layui-form" style="height: 38px; margin: 10px 13px 0 0;">
                <select lay-filter="tabVersion">
                    <option value="new">无证案件</option>
                    <option value="v1">有证案件</option>
                </select>
                <div class="layui-unselect layui-form-select">
                    <div class="layui-select-title">
                        <input type="text" placeholder="请选择" value="2.x" readonly="" class="layui-input layui-unselect">
                        <i class="layui-edge"></i>
                    </div>
                    <dl class="layui-anim layui-anim-upbit">
                        <dd lay-value="new" class="layui-this">无证案件</dd>
                        <dd lay-value="v1" class="">有证案件</dd>
                    </dl>
                </div>
            </div>
            <ul class="layui-tree">
                <li>
                    <h2>内部文书</h2></li>
                <li class="site-tree-noicon ">
                    <a href="/documentmaker/public/index.php/maker/index/shenpibiao">
                        <cite>领导审批表</cite>
                        <em>Getting Started</em>
                    </a>
                </li>
                <li class="site-tree-noicon ">
                    <a href="/doc/base/infrastructure.html">
                        <cite>受案登记表</cite>
                        <em>基础支撑</em>
                    </a>
                </li>
                <li class="site-tree-noicon ">
                    <a href="/documentmaker/public/index.php/maker/index/chahuojingguo">
                        <cite>查获经过</cite>
                        <em>规范 / 公共类 / 属性</em>
                    </a>
                </li>
                <li class="site-tree-noicon ">
                    <a href="/doc/base/modules.html">
                        <cite>案卷封面</cite>
                        <em></em>
                    </a>
                </li>
                <li class="site-tree-noicon ">
                    <a href="/doc/base/faq.html">
                        <cite>目录</cite>
                        <em>FAQ</em>
                    </a>
                </li>
                <li class="site-tree-noicon ">
                    <a href="/doc/base/changelog.html">
                        <cite>更新日志</cite>
                        <span class="layui-badge-dot" style="position: relative; top: -3px; left: -3px;"></span>
                    </a>
                </li>
                <li>
                    <h2>公开文书</h2></li>
                <li class="site-tree-noicon ">
                    <a href="/documentmaker/public/index.php/maker/index/juedingshu">
                        <cite>处罚决定书</cite>
                        <em>栅格 / 后台布局</em>
                    </a>
                </li>
                <li class="site-tree-noicon ">
                    <a href="/doc/element/color.html">
                        <cite>强制措施凭证</cite>
                        <em>主题色设计感 / 内置背景色</em>
                    </a>
                </li>
                <li class="site-tree-noicon ">
                    <a href="/doc/element/icon.html">
                        <cite>满分学习通知书</cite>
                        <em>字体图标</em>
                    </a>
                </li>
                <li class="site-tree-noicon ">
                    <a href="/doc/element/anim.html">
                        <cite>动画</cite>
                        <em>内置的CSS3动画类</em>
                    </a>
                </li>
                <li class="site-tree-noicon ">
                    <a href="/doc/element/button.html">
                        <cite>按钮</cite>
                        <em>button组</em>
                    </a>
                </li>
                <li class="site-tree-noicon layui-this">
                    <a href="/doc/element/form.html">
                        <cite>表单</cite>
                        <em>form元素集合</em>
                    </a>
                </li>
                <li class="site-tree-noicon ">
                    <a href="/doc/element/nav.html">
                        <cite>导航</cite>
                        <em>菜单 / 面包屑</em>
                    </a>
                </li>
                <li class="site-tree-noicon ">
                    <a href="/doc/element/tab.html">
                        <cite>选项卡</cite>
                        <em>Tabs 切换</em>
                    </a>
                </li>
                <li class="site-tree-noicon ">
                    <a href="/doc/element/progress.html">
                        <cite>进度条</cite>
                        <em>progress</em>
                    </a>
                </li>
                <li class="site-tree-noicon ">
                    <a href="/doc/element/panel.html">
                        <cite>面板</cite>
                        <em>折叠 / 手风琴</em>
                    </a>
                </li>
                <li class="site-tree-noicon ">
                    <a href="/doc/element/table.html">
                        <cite>表格</cite>
                        <em>静态table</em>
                    </a>
                </li>
                <li class="site-tree-noicon ">
                    <a href="/doc/element/badge.html">
                        <cite>徽章</cite>
                        <em>小圆点 / 小边框</em>
                    </a>
                </li>
                <li class="site-tree-noicon ">
                    <a href="/doc/element/timeline.html">
                        <cite>时间线</cite>
                        <em>timeline</em>
                    </a>
                </li>
                <li class="site-tree-noicon ">
                    <a href="/doc/element/auxiliar.html">
                        <cite>辅助</cite>
                        <em>引用 / 字段集 / 横线等</em>
                    </a>
                </li>
                <li>
                    <h2>内网查询套打</h2></li>
                <li class="">
                    <a href="/doc/modules/layer.html">
						<cite>驾驶证查询件</cite>
						<em>layer</em>
					</a>
                </li>
                <li class="">
                    <a href="/doc/modules/laydate.html">
						<cite>行驶证查询件</cite>
						<em>laydate</em>
					</a>
                </li>
                <li>
                    <a href="/doc/modules/layim.html">
						<i class="layui-icon" style="position: relative; top: 3px;"></i>
						<cite>即时通讯</cite>
						<em>layim</em>
					</a>
                </li>
                <li class="">
                    <a href="/doc/modules/laypage.html">
						<i class="layui-icon"></i><cite>分页</cite>
						<em>laypage</em>
					</a>
                </li>
                <li class="">
                    <a href="/doc/modules/laytpl.html">
						<i class="layui-icon"></i><cite>模板引擎</cite>
						<em>laytpl</em>
					</a>
                </li>
                <li class="">
                    <a href="/doc/modules/table.html">
						<i class="layui-icon"></i>
						<cite>数据表格</cite>
						<span class="layui-badge-dot" style="position: relative; top: -3px; left: -3px;"></span>
						<em>table</em>
					</a>
                </li>
                <li class="">
                    <a href="/doc/modules/form.html">
						<i class="layui-icon" style="top: 2px;"></i>
						<cite>表单</cite>
						<em>form</em>
					</a>
                </li>
                <li class="">
                    <a href="/doc/modules/upload.html">
						<i class="layui-icon" style="font-size: 18px;"></i>
						<cite>文件上传</cite>
						<em>upload</em>
					</a>
                </li>
                 <li>
                    <h2>一案一档</h2></li>
                <li class="">
                    <a href="/doc/modules/layer.html">
						<cite>领导审批表</cite>
						<em>扣留驾驶证</em>
					</a>
                </li>
                <li class="">
                    <a href="/doc/modules/laydate.html">
						<cite>行驶证查询件</cite>
						<em>laydate</em>
					</a>
                </li>
                <li class="">
                    <a href="/doc/modules/element.html">
						<i class="layui-icon" style="top: 1px; font-size: 18px;"></i>
						<cite>常用元素操作</cite>
						<em>element</em>
					</a>
                </li>
            </ul>
        </div>
