{extend name="maker@common/base" /} 

{block name="printmode"}
<div class="layui-main site-inline site-fix">
	{include file="maker@common/sidebar"}
	
	<div class="site-content">
		<div class="police-print-area">
			<div class="police-head"><h2 class="police-head-large">查  获  经  过</h2></div>


			<p class="police-text">&nbsp&nbsp&nbsp&nbsp{$data.time}，{$data.address}的{$data.name}驾驶{$data.car_num}{$data.car_type}行至{$data.place}时,因{$data['违法内容_1']}违法行为，被我们当场查获。我们依法开具435405600000126号《道路交通安全违法行为处理通知书》交付当事人，并通知当事人携带此凭证和相关合法手续15日内到湖南省高速公路交通警察局衡阳支队衡阳西大队接受处理。
			</p>

			<div class="police-sign-block"><br><br><p class="police-sign-name" >交通警察：<u>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</u><p  class="police-sign-name" >、<u>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</u></p></div>       

			<div class="police-sign-block"><u>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</u>年<u>&nbsp&nbsp&nbsp&nbsp</u>月<u>&nbsp&nbsp&nbsp&nbsp</u>日&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			</div>
		</div>
	</div>

</div>

{/block}