{extend name="maker@common/base" /} 

{block name="printmode"}
<div class="layui-main site-inline site-fix">
	{include file="maker@common/sidebar"}
	
	<div class="site-content">

		<div class="police-print-area">
			<div class="police-page-frame">

				<div class="police-page-frame-inside">
					<!-- 标题 -->
					<div class="police-head"><h2 class="police-head-large">湖南省高速公路交通警察局衡阳支队衡阳西大队</h2>
						<h2 class="police-head-large">公安交通管理行政处罚决定书</h2>
						<h3 class="police-text-small">湘公交高衡5公交决字[2017]第435405-2900009540号</h3>
					</div>
					<!-- 被处罚人信息 -->
					<div class="police-text-small">



						<div ><span style="width: 5em"> 被处罚人：</span>
							<span class="police-underline" style="width: 5em">余安能欧雁</span><span style="width: 5em">
							联系方式：</span><span class="police-underline" style="width: 20em; overflow: hidden;">湖北省鄂州市鄂城区杜山镇杜山村新农村9号湖北省鄂州市鄂城区杜山镇杜山村新农村9号</span>
						</div>

						<div ><span style="width: 3em">职业：</span>
							<span class="police-underline" style="width: 7em">其他</span><span style="width: 5em">
							政治面貌：</span><span class="police-underline" style="width: 20em; overflow: hidden;">群众</span>
						</div>

						<div ><span style="width: 10em">机动车驾驶证号码：</span>
							<span class="police-underline" style="width: 27em"></span>
						</div>

						<div ><span style="width: 12em">机动车驾驶证档案编号：</span>
							<span class="police-underline" style="width: 25em"></span>
						</div>

						<div ><span style="width: 5em"> 准驾车型：</span>
							<span class="police-underline" style="width: 5em">A1A2D</span><span style="width: 5em">
							发证机关：</span><span class="police-underline" style="width: 20em; overflow: hidden;">湖北省鄂州市公安局交通警察支队</span>
						</div>

						<div ><span style="width: 5em"> 车辆牌号：</span>
							<span class="police-underline" style="width: 8em">鄂G1M417</span><span style="width: 5em">
							车辆类型：</span><span class="police-underline" style="width: 17em; overflow: hidden;">重型半挂牵引车</span>
						</div>
				<!-- 决定书正文 -->
						<div>
							<p class="police-section">
								现查明被处罚人于<u>2017年5月6日13时30分</u>，在<u>泉南高速公路832公里衡南服务区东往西方向</u>实施了<u>未随车携带驾驶证的,驾驶与驾驶证载明的准驾车型不相符合的车辆的</u>违法行为（代码<u>11100，17092</u>）。
							</p>

							<p class="police-section">
								以上事实有交通违法嫌疑人余安能的陈述和申辩、余安能的驾驶证复印件、公安内网查询记录、民警现场查获经过、现场照片等证据证明。
							</p>

							<p class="police-section">
								根据《中华人民共和国道路交通安全法》第90条、《湖南省实施〈中华人民共和国道路交通安全法〉办法》第41条第1项的规定,《中华人民共和国道路交通安全法》第99条第1款第1项的规定，决定给予：
							</p>

							<p class="police-section">
								罚款 1050 元  持本决定书在15日内到中国建设银行缴纳。到期不缴纳罚款的，每日按罚款数额3%加处罚款。
							</p>

							<p class="police-section">
								□×暂扣机动车驾驶证____月   机动车驾驶证是否转递：□是 □否
							</p>

							<p class="police-section">
								____年____月____日后到______________________领取。
							</p>
							<p class="police-section">
								□×吊销机动车驾驶证 
							</p>
							<p class="police-section">
								如不服本决定，可以在收到本决定书之日起60日内向湖南省高速公路交通警察局衡阳支队申请行政复议；或者在6个月内向衡阳市蒸湘区人民法院提起行政诉讼。
							</p>
							<p class="police-section">
								□该处罚决定书将在122交通网(www.122.cn)公开公示，同时向信用中国网(www.creditchina.gov.cn)推送。
							</p>
						</div>

<!-- 盖公章 -->
							<div class="police-sign-block" style="font-size: 18pt">
								<p class="police-section">
									公安机关交通管理部门（盖章）
								</p>
								<p class="police-section">
									2018年06月15日&nbsp&nbsp&nbsp&nbsp
								</p>
							</div>
						</div>

						<!-- 页脚的说明文字 -->
						<div>
							<p class="police-section" >
								根据《机动车驾驶证申领和使用规定》记12分
							</p>
							<p class="police-section" style="font-size: 10pt">
								第三份：附卷
							</p>
							<p class="police-section" style="font-size: 10pt">
								注：未作罚款处罚的，银行联不交被处罚人
							</p>
						</div>

					</div>

				</div>





			</div>
		</div>
	</div>

</div>

{/block}
