{extend name="maker@common/base" /} 

{block name="main"}




<div style="margin-left: 100px">
    <div class="layui-row" id="toolbar"></div>
	<table id="demo" lay-filter="test"></table>
</div>


<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
  </div>
</script>

<script>
	layui.use('table', function(){
		var table = layui.table;
		var checkedId;

  //第一个实例
  table.render({
  	elem: '#demo'
  	,height: 600
    ,url: '/documentmaker/public/index.php/maker/api/records' //数据接口
    ,page: true //开启分页
    ,limit: 20
    ,toolbar:  '#toolbarDemo' 
    ,defaultToolbar: ['filter', 'print', 'exports']
    ,cols: [[ //表头
     {title:'', type: 'radio', width:30, fixed: 'left'}
    ,{align: 'center', field: 'time', title: '违法时间', width:180, sort: true}
    ,{field: 'name', title: '当事人', width:100}
    ,{field: 'car_num', title: '车牌号', width:120}
    ,{field: 'car_type', title: '车辆类型', width:140}
    ,{field: '违法内容_1', title: '违法行为1', width:300} 
    ,{field: '违法内容_2', title: '违法行为2', width:300} 
    ,{field: 'index', title: '决定书编号', width: 160, sort: true}
    ]]
});
  
table.on('radio(test)', function(obj){
	checkedId = obj.data['id'];
	console.log(checkedId); //当前是否选中状态
});


table.on('toolbar(test)', function(obj){
	var checkStatus = table.checkStatus(obj.config.id);
	switch(obj.event){
		case 'add':
		layer.msg('添加');
		break;
		case 'delete':
		layer.msg('删除');
		break;
		case 'update':
		
		if (checkedId == null) {layer.msg('请先选择一个案件');}
		else {
			window.location.href = "/documentmaker/public/index.php/maker/index/form/id/" + checkedId;
		}
		break;
	};
});

  //监听行双击事件
table.on('rowDouble(test)', function(obj){
  var record = obj.data;
  window.location.href = "/documentmaker/public/index.php/maker/index/form/id/" + record['id'];
});

});
</script>

{/block}