{extend name="maker@common/base" /} 

{block name="printmode"}
    <div class="layui-main site-inline site-fix">
    {include file="maker@common/sidebar"}
    
    <div class="site-content">
	
<div class="police-print-area">
<div class="police-head"><h2 class="police-head-large">湖南省高速公路交通警察局衡阳支队衡阳西大队</h2>
	<h2 class="police-head-large">领导审批表</h2>
	<p class="police-text">湘公交高衡5公（交管）审字[2017]第435405690000286号</p>
</div>

<table class="police-table">
	<tr>
		<td>案由</td>
		<td colspan="2">林某某违反道路交通案</td>
		<td colspan="2">发案时间</td>
		<td colspan="2">2017-02-03 15:33</td>
	</tr>
	<tr>
		<td rowspan="3">违法行为人</td>
		<td>姓名</td>
		<td>林某莫</td>
		<td>性别</td>
		<td>男</td>
		<td>民族</td>
		<td>汉族</td>
	</tr>
		<tr>
		<td>出生日期</td>
		<td>1978年12月12日</td>
		<td colspan="2">文化程度</td>
		<td colspan="2">高中</td>

	</tr>
	<tr>

		<td>姓名</td>
		<td>林某莫</td>
		<td>性别</td>
		<td>男</td>
		<td>民族</td>
		<td>汉族</td>
	</tr>
</table>
</div>
</div>
</div>
{/block}